html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
	color: white;
	font-family: 'Varela Round', sans-serif;
}


h1 {
  float: left;
  font-size: 36x;
  font-size: calc(36px + 9 * ((100vw - 300px) / (1350 - 300)));
}

#date {
  float: right;
  text-align: right;
  font-size: 22px;
  font-size: calc(22px + 14 * ((100vw - 300px) / (1350 - 300)));
}

h4 {
  padding-left: 0;
  font-size: 18px;
  font-size: calc(18px + 7 * ((100vw - 300px) / (1350 - 300)));
}

ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
}

li {
  padding-top: 8px;
  font-weight: 600;
  font-size: 16px;
  font-size: calc(16px + 4 * ((100vw - 300px) / (1350 - 300)));
}

img {
  margin-bottom: 8px;
  max-width: 100%;
  padding: 4px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}


li div p {
  border: 1px solid white;
  padding: 7px 14px;
  border-radius: 6px;
  background: rgba(0,0,0,0.08);
  font-weight: 500;
  font-size: 14px;
  font-size: calc(14px + 6 * ((100vw - 300px) / (1350 - 300)));
}

p span {
  font-size: calc(14px + 6 * ((100vw - 300px) / (1350 - 300)));
}

#about {
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
  font-size: calc(14px + 2 * ((100vw - 300px) / (1350 - 300)));
}

#about a {
  padding: 7px;
  text-decoration: underline;
}

#about a:hover {
  border: 1px solid white;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.nav {
  text-align: center;
}

.nav .row div {
  font-weight: 900;
  font-size: 14px;
  font-size: calc(14px + 4 * ((100vw - 300px) / (1350 - 300)));
  font-size: -webkit-calc(14px + 4 * ((100vw - 300px) / (1350 - 300)));
  border-radius: 4px;
  padding: 4px 0;
}

.nav .row div:hover {
  background-color: rgba(0,0,0,0.3);

}

a, a:hover {
  color: white;
}

p a {
  text-decoration: underline;
}

 /*li div {
  background: black;
}


* { background-color: rgba(255,0,0,0.3);}
* * { background-color: rgba(0,255,0,0.3);}
* * * { background-color: rgba(0,0,255,0.3);}
* * * * { background-color: rgba(255,0,0,0.3);}
* * * * * { background-color: rgba(0,255,0,0.3);}*/
 

@media only screen and (min-width: 500px) {
  img {
    max-width: 70%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 700px) {
  img {
    max-width: 60%;
    margin-left: 20%;
  }
}